<app-header-content-page [title]="'Novo Recesso'" [subtitle]="'Preencha a data de recesso'">
</app-header-content-page>

<div class="area">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label>Data do recesso</label>
        <input type="date" class="form-control" [(ngModel)]="recesso.data">
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" (click)="salvar()">Salvar</button>
    </div>
  </div>
</div>

<app-alert-dialog #alert></app-alert-dialog>