<div class="content-full">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <form [formGroup]="registratorForm">
          <div class="form-group">
            <label>Identificação</label>
            <input
              appAutofocus
              type="text"
              class="form-control"
              formControlName="clientNumero"
              (change)="register()"
              placeholder="Passe o cartão">
          </div>
          <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" placeholder="" disabled="false" value="{{ meal?.cliente?.nome }}">
          </div>
          <div class="form-group">
            <label>Tipo</label>
            <input type="text" class="form-control" placeholder="" disabled="true" value="{{ meal?.cliente?.tipoCliente }}">
          </div>
          <div class="form-group" *ngIf="mensagem !== null && mensagem !== undefined">
            <label>Mensagem</label>
            <input type="text" class="form-control messageError" placeholder="" disabled="true" value="{{ mensagem }}">
          </div>
        </form>
      </div>
      <div class="col-6">
        <app-refeicao-list [showHeaderPage]="false" [showSearchForm]="false" [meals]="meals" [darkMode]="true"></app-refeicao-list>
      </div>
    </div>
  </div>
</div>

<app-modal #modalMessage></app-modal>
