div.content-full {
  background: #262935;
  height: 100vh;
  width: 100%;
  .container-fluid {
    position: absolute;
    margin: {
      top: 100px;
    }
    form {
      label {
        color: aquamarine;
        text: {
          transform: uppercase;
        }
        font: {
          size: 2rem;
          weight: 900;
        }
      }
      input.form-control {
        padding: 50px 30px;
        color: antiquewhite !important;
        background: #151822;
        border: 0;
        text: {
          transform: uppercase;
        }
        font: {
          size: 3rem;
          weight: 500;
        }
      }
    }
  }
}

.table-fixed{
  width: 100%;
  color: antiquewhite;
  tbody{
    height:200px;
    overflow-y:auto;
    width: 100%;
    }
}

.messageError {
  font-size: 1rem !important;
}

.box {
  background-color: #151822;
  margin: {
    left: 40px;
  }
  padding: 20px !important;
  border: {
    radius: 5px;
  }
  color: white;
  font: {
    size: 1.5rem;
    weight: 500;
  }
  img {
    width: 50px;
  }
}
