<app-header-content-page title="Novo Cliente" subtitle="Preencha os campos para adicionar"></app-header-content-page>

<div class="inline-form">
    <label class="c-label">Nome</label><input class="input-style" type="text" placeholder="Digite o nome do cliente">
</div>
<div class="inline-form">
    <label class="c-label">Número</label><input class="input-style" type="text" placeholder="Digite o número">
</div>
<div class="inline-form">
    <label class="c-label">Data de nascimento</label><input class="input-style" type="date" placeholder="Digite a data de nascimento">
</div>
