<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
    <div class="side-menu-sec" [class.slide-out]="showSidebar" style="overflow: hidden; width: auto; height: 100%; top: 67px;">
        <div class="quick-report-side">
             <span class="text-uppercase">Relatório de hoje</span>
             <ul>
                  <li><div><strong>456</strong><span>Cafés</span></div></li>
                  <li><div><strong>115</strong><span>Almoços</span></div></li>
                  <li><div><strong>120</strong><span>Lanches</span></div></li>
             </ul>
        </div>
        <div class="side-menus">
             <span class="text-uppercase">Opções principais</span>
             <nav>
                  <ul class="parent-menu">
                       <li appDropdown class="menu-item-has-children" routerLink="/registrator">
                            <a><i class="fa fa-desktop"></i><span>Registrador</span></a>
                       </li>
                       <li appDropdown class="menu-item-has-children">
                            <a><i class="fa fa-desktop"></i><span>Cliente</span></a>
                            <ul>
                                 <li><a routerLink="/clients">Lista</a></li>
                                 <li><a routerLink="/clients/new">Criar</a></li>
                            </ul>
                       </li>
                       <li appDropdown class="menu-item-has-children">
                            <a><i class="fa fa-desktop"></i><span>Refeição</span></a>
                            <ul>
                                 <li><a routerLink="/refeicoes">Lista</a></li>
                                 <li><a routerLink="/refeicoes/new">Criar</a></li>
                            </ul>
                       </li>
                  </ul>
             </nav>
              <span class="footer-line">2019 Aimbra</span>
        </div>
    </div>
</div>

