<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
    <div class="side-menu-sec" [class.slide-out]="showSidebar" style="overflow: hidden; width: auto; height: 100%; top: 67px;">
        <div class="quick-report-side">
             <span class="text-uppercase">Relatório de hoje</span>
             <ul>
                  <li><div><strong>568</strong><span>Alunos</span></div></li>
                  <li><div><strong>89%</strong><span>Presentes</span></div></li>
                  <li><div><strong>11%</strong><span>Ausentes</span></div></li>
             </ul>
        </div>
        <div class="side-menus">
             <span class="text-uppercase">Opções principais</span>
             <nav>
                  <ul class="parent-menu">
                       <li appDropdown class="menu-item-has-children">
                            <a><i class="fas fa-user-graduate"></i><span>Aluno</span></a>
                            <ul>
                                 <li><a routerLink="/alunos">Lista</a></li>
                            </ul>
                       </li>
                       <li appDropdown class="menu-item-has-children">
                            <a><i class="fas fa-chalkboard-teacher"></i><span>Professor</span></a>
                            <ul>
                                 <li><a routerLink="/professores">Lista</a></li>
                            </ul>
                       </li>
                       <li appDropdown class="menu-item-has-children">
                            <a><i class="fas fa-book"></i><span>Disciplina</span></a>
                            <ul>
                                 <li><a routerLink="/disciplinas">Lista</a></li>
                            </ul>
                       </li>
                       <li appDropdown class="menu-item-has-children">
                            <a><i class="fas fa-group"></i><span>Turma</span></a>
                            <ul>
                                 <li><a routerLink="/turmas">Lista</a></li>
                                 <li><a routerLink="/turmas/novo">Nova</a></li>
                            </ul>
                       </li>
                       <li appDropdown class="menu-item-has-children">
                            <a><i class="fab fa-earlybirds"></i><span>Matrícula</span></a>
                            <ul>
                              <li><a routerLink="/matriculas">Lista</a></li>
                              <li><a routerLink="/matriculas/novo">Novo</a></li>
                            </ul>
                       </li>
                       <li appDropdown class="menu-item-has-children">
                            <a><i class="fa fa-qrcode"></i><span>QRCode</span></a>
                            <ul>
                              <li><a routerLink="/qrcode">Generator</a></li>
                            </ul>
                       </li>
                       <li appDropdown class="menu-item-has-children">
                            <a><i class="fa fa-calendar"></i><span>Calendários</span></a>
                            <ul>
                              <li><a routerLink="/dias-letivos">Dias Letivos</a></li>
                              <li><a routerLink="/recessos">Recessos</a></li>
                            </ul>
                       </li>
                  </ul>
             </nav>
              <span class="footer-line">2019 Aimbra</span>
        </div>
    </div>
</div>

