.client-list {
  li {
    padding: 10px;
    cursor: pointer;
    &:hover {
      border-radius: 10px;
      background-color: #151822;
      color: black !important;
    }
    span {
      margin-top: 3px;
    }
    .client-info {
      p {
        line-height: 0;
      }
      h3.title {
        font: {
          size: 1.3rem;
        }
      }
    }
  }
  .switch {
    margin-top: 17px;
  }

}
.limiting {
  height: 400px;
  overflow-y: scroll;
}
.widget {
  border: 0 !important;
  padding: {
    left: 40px;
  }
  margin: {
    top: -20px;
  }
}
.widget-dark {
  background: transparent;
  color: antiquewhite;
  h3 {
    color: rgb(196, 196, 196);
  }
  li {
    ul {
      h3 {
        color: rgb(131, 131, 131) !important;
      }
    }
  }
  border-radius: 3px;
  border: 1px solid rgb(82, 81, 81);
}


