<app-header-content-page title="Lista de clientes" subtitle="Clique no cliente para emitir uma ação"></app-header-content-page>


<!-- Lista de clientes -->
<div class="widget white">
  <div>
       <table class="table table-hover">
            <thead>
              <tr>
                 <th class=""><span>Número</span></th>
                 <th class=""><span>Nome</span></th>
                 <th class=""><span>Tipo</span></th>
                 <th class=""><span>Status</span></th>
                 <th class=""><span>Ações</span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of clients">
                 <td class="lalign">{{ c.numero }}</td>
                 <td class="lalign">{{ c.nome }}</td>
                 <td class="lalign">{{ c.tipoClient }}</td>
                 <td>
                  <div class="switch">
                    <input type="checkbox" class="switch-input" [checked]="c.ativo">
                    <label class="switch-label">Switch</label>
                  </div>
                </td>
                 <td>
                   <button class="btn btn-primary">Editar</button>
                   <button class="btn btn-danger ml-3">Remover</button>
                 </td>
              </tr>
            </tbody>
       </table>
  </div>
</div>


