<app-header-content-page [title]="'Dashboard'" [subtitle]="'Seja muito bem vindo!'"></app-header-content-page>
<div class="row">
  <div class="col-md-3 col-sm-6">
    <app-progress-widget [data]="breakfast"></app-progress-widget>
  </div>
  <div class="col-md-3 col-sm-6">
    <app-progress-widget [data]="lunch"></app-progress-widget>
  </div>
  <div class="col-md-3 col-sm-6">
    <app-progress-widget [data]="snack"></app-progress-widget>
  </div>
  <div class="col-md-3 col-sm-6">
    <app-progress-widget [data]="snack"></app-progress-widget>
  </div>
</div>

