.conteudos {
  margin: {
    top: 100px;
  }
}

.group {
  margin: {
    top: 20px;
  };
  label {
    font-size: 0.8rem;
    margin: 0;
  }
  div {
    font-weight: 300;
    font-size: 1.3rem;
  }
}

.dias {
  margin: 0;
  padding: 0;
}

.notification {
  i {
    margin: {
      top: 9px;
    };
  }
}
