<app-header-content-page [title]="'Detalhes do aluno'" [subtitle]="'Alguns detalhes importantes do aluno'">
</app-header-content-page>


<div class="conteudos">
  <div class="row personal-formation-area">
    <div class="col-12">
      <h5>Informações pessoais</h5>
      <hr>
      <div class="group">
        <label>Nome: </label>
        <div>{{ aluno.nome }}</div>
      </div>
      <div class="group">
        <label>Data Nascimento: </label>
        <div>{{ aluno.dataNascimento | date : 'dd/MM/yyyy' }}</div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="group">
            <label>CEP: </label>
            <div>{{ aluno.cep }}</div>
        </div>
        <div class="group">
            <label>Bairro: </label>
            <div>{{ aluno.bairro }}</div>
        </div>
        <div class="group">
            <label>Cidade: </label>
            <div>{{ aluno.cidade }}</div>
        </div>
        <div class="group">
            <label>Estado: </label>
            <div>{{ aluno.estado }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row area-courses mt-5">
    <div class="col-12">
      <h5>Cursos do aluno</h5>
      <hr>
    </div>
  </div>
</div>
