.badge {
  i {
    cursor: pointer;
    &:hover {
      color: rgb(0, 255, 234);
    }
  }
}
button.btn-plus {
  margin: {
    top: 31px;
  };
}

.widget {
  cursor: pointer;
  &:hover {
    background-color: rgb(240, 240, 240);
  }
}

.active {
  border: {
    color: rgb(0, 170, 119);
  };
}
