<div class="top-bar">
          <div class="logo">
               <i class="fa fa-bullseye"></i> Aimbra Hunger
          </div>
          <div class="menu-options" [class.active]="viewSidebar" *ngIf="isLooged()" (click)="toggleSidebar()"><span class="menu-action"><i></i></span></div>
          <div class="search-dashboard" *ngIf="isLooged()">
               <div class="responsive-search">
                    <i class="fa fa-search"></i>
               </div>
               <form>
                    <input type="text" placeholder="Pesquisar Cliente">
                    <button type="submit"><i class="fa fa-search"></i></button>
               </form>
          </div><!-- Search Dashboard -->
          <div class="top-bar-quick-sec" *ngIf="isLooged()">
               <ul class="quick-notify-section custom-dropdowns">
                    <li class="message-list dropdown">
                         <span><i class="fa fa-bell-o"></i><strong class="skyblue-bg">7</strong></span>
                    </li>
                    <li class="notification-list dropdown">
                         <span><i class="fa fa-envelope-o"></i><strong class="red-bg">12</strong></span>
                    </li>
                    <li class="activity-list dropdown">
                         <span><i class="fa fa-bug"></i><strong class="blue-bg">12</strong></span>
                    </li>
               </ul>
               <span class="open-panel"><i class="fa fa-cog fa-spin"></i></span>
               <span id="toolFullScreen" class="full-screen-btn"><i class="fa fa-arrows-alt"></i></span>
               <div class="name-area">
                    <a><img src="assets/images/thiago.jpg" alt=""> <strong>Thiago Cunha</strong></a>
               </div>
          </div>
     </div>
