.top-bar {
  position: fixed;
  z-index: 2;
  div.logo {
    color: white;
    font: {
      size: 1.3rem;
      weight: 700;
    }
    i {
      color: #219db0;
      font: {
        size: 1.2rem;
      }
    }
  }
}
