<app-header-content-page [title]="'Matrículas'" [subtitle]="'Preencha e selecione corretamente os campos abaixo para matrícular um aluno'">
</app-header-content-page>

<div class="aluno-area">
  <div class="row mt-5" *ngIf="matricula.id == undefined">
    <div class="col-12">
      <h6>Pesquise um aluno que você gostaria de matricular</h6>
      <hr>
      <form [formGroup]="searchForm" (ngSubmit)="search()">
        <div class="inline-form">
          <label class="c-label">Digite o nome do aluno</label>
          <input class="input-style" type="text" placeholder="Nome do aluno" formControlName="criteria">
        </div>
        <button type="submit" class="c-btn large blue-bg search-btn"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
  <div class="row" *ngIf="alunos.length > 0">
      <div class="col-3" *ngFor="let a of alunos">
        <div class="widget widget-select" [ngClass]="{'active': a.isSelected }" (click)="setAluno(a)">
          <div class="quick-report-widget" >
              <span class="mt-2 p-0">{{ a.cidade }}</span>
                <h4>{{ getFirstLastname(a.nome) }}</h4>
                <i class="fa" [ngClass]="{ 'silver-bg': !a.isSelected, 'green-bg': a.isSelected, 'fa-check': a.isSelected, 'circle-o': !a.isSelected }"></i>
                <h5>{{ a.status ? 'Ativo' : 'Inativo' }}</h5>
            </div>
        </div>
      </div>
    </div>
</div>
<div class="turma-area">
  <div class="row mt-5">
    <div class="col-12">
      <h6>Turmas disponíveis</h6>
      <hr>
      <div class="row">
        <div class="col-3" *ngFor="let t of turmas">
          <div class="widget widget-select" [ngClass]="{'active': t.isSelected }" (click)="setTurma(t)">
            <div class="quick-report-widget" >
                <span class="mt-2 p-0" *ngFor="let dha of t.diaHoraAulas">{{ dha.dia }} às {{ dha.hora }}</span>
                  <h4>{{ t.disciplina.nome }}</h4>
                  <i class="fa" [ngClass]="{ 'silver-bg': !t.isSelected, 'green-bg': t.isSelected, 'fa-check': t.isSelected, 'circle-o': !t.isSelected }"></i>
                  <h5>Tem vaga</h5>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-5">
  <hr>
  <button class="c-btn large btn-block green-bg" (click)="save()">Matricular</button>
</div>

<app-alert-dialog #alert></app-alert-dialog>
